<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container bodys" style="text-align: left;">
    <% clients.forEach(function(client) { %>
    <div class="pt-4 row">
      <div class="col-lg-4">
        <img src="<%=client.propic%>" style="width: 200px; height: 200px;" />
      </div>
      <div class="col-lg-8">
        <h4>
          <a href="/clients/<%=client._id%>" style="color: black;"
            ><strong>Name - </strong><%=client.name%></a
          >
        </h4>
        <p><strong>Email - </strong><%=client.email%></p>
        <p><strong>Phone no - </strong><%=client.number%></p>
      </div>
      <hr />
    </div>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
