<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container bodys" style="text-align: left;">
    <p class="pagehead">Clients on platform</p>
    <% clients.forEach(function(client) { %>
    <div class="pl-5 pr-5 pt-4 row">
      <div class="col-lg-3">
        <img src="<%=client.propic%>" style="width: 180px; height: 150px;" />
      </div>
      <div class="col-lg-9">
        <h5>
          <a href="/clients/<%=client._id%>" style="color: black;"
            ><strong>Name - </strong><%=client.name%></a
          >
        </h5>
        <p><strong>Email - </strong><%=client.email%></p>
        <p><strong>Phone no - </strong><%=client.number%></p>
      </div>
    </div>
    <hr />
    <% }) %>
    <h4 style="text-align: center;">No more entires in database :(</h4>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
