<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container bodys">
    <% invs.forEach(function(inv) { %>
    <div class="pt-4">
      <h3><strong>Lawyer Name - </strong><%=inv.lname%></h3>
      <p><strong>Client Name - </strong><%=inv.cname%></p>
      <p><strong>Amount - </strong><%=inv.amount%></p>
      <p><strong>Duedate - </strong><%=inv.duedate%></p>
      <p><strong>Status - </strong><%=inv.status%></p>
      <form action="/invoices/<%=inv._id%>?_method=DELETE" method="POST">
        <button class="btn btn-outline-dark">Delete</button>
      </form>
      <hr />
    </div>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
