<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container bodys">
    <div class="pt-4" style="text-align: left; font-size: large;">
      <h3><strong>CNR No - </strong><%=casee.cnrno%></h3>
      <p><strong>Case Type - </strong><%=casee.casetype%></p>
      <p><strong>Registration Number - </strong><%=casee.regno%></p>
      <p><strong>Client Name - </strong><%=casee.clientname%></p>
      <p><strong>Lawyer Name - </strong><%=casee.lawyername%></p>
      <p><strong>Filing Date - </strong><%=casee.filingdate%></p>
      <p><strong>Current Stage - </strong><%=casee.stage%></p>
      <p><strong>Next Hearing Date - </strong><%=casee.nexthearing%></p>
      <p><strong>Court Name - </strong><%=casee.courtname%></p>
      <p>
        <a href="/cases/<%=casee._id%>/edit" class="btn btn-light">Edit Case</a>
      </p>
      <form action="/cases/<%=casee._id%>?_method=DELETE" method="POST">
        <button class="btn btn-light">Delete</button>
      </form>
    </div>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
