<%- include("../partials/header.ejs") %>

<div class="cent">
  <div class="container bodys" style="text-align: left;">
    <p class="pagehead">Lawyers on Platform</p>
    <% lawyers.forEach(function(lawyer) { %>
    <div class="pl-5 pr-5 pt-4 row">
      <div class="col-lg-3">
        <img src="<%=lawyer.propic%>" style="width: 180px; height: 150px;" />
      </div>
      <div class="col-lg-9">
        <h5>
          <a href="/lawyers/<%=lawyer._id%>" style="color: black;"
            ><strong>Name - </strong><%=lawyer.name%></a
          >
        </h5>
        <p><strong>Speciality - </strong><%=lawyer.special%></p>
        <p><strong>Bio - </strong><%=lawyer.bio.substring(1,200)%></p>
      </div>
    </div>
    <hr />
    <% }) %>
    <h4 style="text-align: center;">No more entires in database :(</h4>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
